<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BlogPosts</title>
</head>

<body>
<h1>BlogPosts</h1>
<a th:href="@{/new}">Neuer Eintrag</a>
<form method="get" action="#" th:action="@{/search}">
    <input name="search_query" placeholder="Suche..."/>
    <button>Suchen</button>
</form>
<th:block th:each="author:${authors}">
    <a th:href="@{/byusername(username=${author.username})}" th:text="${author.fullName}"/>
    <br/>
</th:block>
<div>
    <table>
        <tr th:each="post:${blogPosts}">
            <h2 th:text="${post.title} + ' (von ' + ${post.author.fullName} + ')'"/>
            <p th:text="${post.text}"/>
        </tr>
    </table>
</div>
</body>
</html>